{% extends "base.html.twig" %}
{% block body %}
<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 single-content">
                <div class="pt-5">
                <div class="comment-form-wrap pt-5">
                    <div class="section-title">
                    <h2 class="mb-5">Nouvel article</h2>
                    </div>
                    <form action="/article/edit/{{ article.slug }}" method='get' class="p-5 bg-light">
                
                        <div class="form-group">
                            <label for="title">Titre de l'article</label>
                            <input name="title" id="title" value ="{{ article.title }}" required class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="title">Chapô</label>
                            <input name="title" id="title" value ="{{ article.chapo }}" required class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="image_url">Url de l'image de l'article</label>
                            <input name="image_url" value ="{{ article.image_url }}" id="image_url" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="message">Contenu de l'article</label>
                            <textarea name="content"  id="message" cols="30" rows="10" class="form-control">{{ article.content }}</textarea>
                        </div>
                        <div class="form-group" hidden>

                            <input name="_csrf" id="csrf" class="form-control" value="{{ form.parts._csrf.generate }}">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Enregistrer l'article" class="btn btn-primary py-3">
                        </div>
    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

                
                 
{% endblock %}